@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
	--global-padding: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
}

main {
	margin: auto;
	padding: var(--global-padding);
	max-width: 768px;
}

form {
	display: flex;
	gap: calc(var(--global-padding) / 2);
}

input {
	flex: 1 1 0;
}