@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --std-padding: 16px;
  --std-border: 1px solid #cbd5e1;
  --std-border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #000000;
  font-family: "Inter", sans-serif;
}

header {
  --blur-intensity: 12px;

  position: sticky;
  top: 0;
  letter-spacing: -0.25px;
  background-color: #ffffffaa;
  backdrop-filter: blur(var(--blur-intensity));
  -webkit-backdrop-filter: blur(var(--blur-intensity));
  border-bottom: var(--std-border);
}

.container {
  padding: var(--std-padding);
  margin: auto;
  max-width: 768px;
}

header > .container {
  display: flex;
  justify-content: space-between;
}

header #website-logo {
  font-weight: 500;
}

a {
  color: inherit;
  text-underline-offset: 2px;
  transition: color 300ms;
}

a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cg id='Interface / External_Link'%3E%3Cpath id='Vector' d='M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  width: 16px;
  height: 16px;
}

header a {
  font-size: 0.9rem;
}

a:hover {
  color: #64748b;
}

form > div {
	margin-top: var(--std-padding);
  display: flex;
  gap: calc(var(--std-padding) / 2);
}

form > div > * {
  padding: 10px 12px;
  border-radius: var(--std-border-radius);
}

form > div > *:focus {
  outline: 2px solid #64748b;
  outline-offset: 2px;
}

#recipe-url-input {
	display: block;
	width: 100%;
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  font-size: 1rem;
}

button[type="submit"] {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 0.9rem;
  letter-spacing: 0.25px;
}

button[type="submit"] > svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
}

button[type="submit"]:disabled > svg {
  animation: 1s ease infinite spinner;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: #a1a1aa;
  border-color: #a1a1aa;
  cursor: progress;
}

#results > * {
  margin-top: 16px;
}

.recipe {
  padding: 16px;
  border: 1px solid #cbd5e1;
  border-radius: var(--std-border-radius);
}

.recipe > * + * {
  margin-top: 16px;
}

.recipe h2 {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.recipe figure {
  text-align: center;
}

.recipe img {
  width: min(490px, 100%);
  border: 1px solid #cbd5e1;
  border-radius: var(--std-border-radius);
  object-fit: cover;
}

.recipe pre {
  padding: 16px;
  border: 1px solid #cbd5e1;
  border-radius: var(--std-border-radius);
  overflow-x: scroll;
}

#notifications {
	position: fixed;
	width: min(320px, 100%);
	padding: var(--std-padding);
	bottom: 0;
	right: 0;
}

#notifications > * + * {
	margin-top: calc(var(--std-padding) / 2);
}

.error-notification {
  position: relative;
	padding: 12px;
	display: flex;
	gap: 8px;
	color: #f1f5f9;
	background-color: #ff0000;
	border-radius: var(--std-border-radius);
	font-size: 0.9rem;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.error-notification > svg {
  width: 24px;
  height: 24px;
	flex-shrink: 0;
	fill: none;
	stroke: currentColor;
}

.error-notification > span {
	align-self: center;
}

@media screen and (max-width: 375px) {
  button[type="submit"] > span {
    display: none;
  }
}
